// header

header {
  display: grid;

  @media (max-width: #{$breakpoint1 - 0.0625em}) {
    place-items: center;
  }

  & > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & > .media {
    z-index: -1;
  }
}

// navigation

nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  @media (min-width: $breakpoint1) {
    padding: 2rem 2.5rem;
  }
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media (max-width: #{$breakpoint1 - 0.0625em}) {
    position: absolute;
    top: 6.5rem;
    right: 1.5rem;
    width: Min(calc(100vw - 3rem), 21rem);
    background-color: var(--white);
    text-align: center;
    padding-block: 2rem;

    pointer-events: none;
    opacity: 0;
    transform: translateY(1rem);

    transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);

    [data-menu='open'] & {
      pointer-events: all;
      opacity: 1;
      transform: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border: 0.75rem solid transparent;
      border-color: transparent #fff #fff transparent;
      translate: 0 -100%;
    }
  }

  @media (min-width: $breakpoint1) {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
  }
}

// dual blocks

.dual {
  background-color: var(--cream);
  @media (min-width: $breakpoint1) {
    display: flex;
    flex-direction: row;
    align-items: center;

    &[data-state='reversed'] {
      direction: rtl;
    }
  }

  picture,
  img {
    width: 100%;
    flex-basis: 50%;
  }
}

.dual-content {
  flex-basis: 50%;
  padding: 4rem 2rem;

  @media (min-width: $breakpoint1) {
    max-width: #{$site-width / 2};
    text-align: left;
    padding: 0;
    padding-inline-start: 110px;
    padding-inline-end: 1.5rem;
  }
}

// single blocks

.singles {
  @media (min-width: $breakpoint1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.single {
  display: grid;
  place-items: end;

  & > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & > .media {
    width: 100%;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  &-content {
    padding-bottom: 60px;
    padding-inline: 1.5rem;

    @media (min-width: $breakpoint1) {
      max-width: 25rem;
      margin-inline: auto;
    }
  }
}

.design {
  color: var(--desaturated-cyan);
}

.photography {
  color: var(--dark-blue);
}

// testimonials

.testimonials {
  padding-block: clamp(3.5rem, 11vw, 10rem);
  background-color: var(--cream);
}

.clients {
  max-width: $site-width;
  margin-inline: auto;
  padding-top: 2rem;

  @media (min-width: $breakpoint1) {
    display: flex;
  }
}

.client {
  padding-block: 2rem;
  padding-inline: 1.5rem;
}

// gallery

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $breakpoint1) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// footer

footer {
  background-color: var(--fixed-cyan);
  padding-block: 4rem;
}
