// general styling
body {
  text-align: center;
  font-size: var(--fs-base);
  font-family: var(--ff-base);
  line-height: 1.25;
}

:focus {
  outline: 2px dashed var(--soft-red);
}

.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--white);
  padding: 0.5rem;
  translate: 0 -100%;
  transition: 0.25s ease;
}

.skip-link:focus {
  translate: 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-icon-twitter {
  width: 1.1767578125em;
}

.icon-logo {
  width: 5.1669921875em;
}

.icon-icon-hamburger {
  width: 1.3330078125em;
}
