<div class="client">
    {{#if client-image}}
    <img class="client-image" src="{{ client-image }}" width="72" height="72" alt="">
    {{/if }}

    {{#if client-testimonial}}
    <div class="client-testimonial">{{ client-testimonial }}</div>
    {{/if }}

    {{#if client-name}}
    <div class="client-name">{{ client-name }}</div>
    {{/if }}

    {{#if client-role}}
    <div class="client-role">{{ client-role }}</div>
    {{/if }}
</div>