<footer>
    <svg class="icon icon-logo">
        <use xlink:href="svg/symbol-defs.svg#icon-logo"></use>
    </svg>

    <ul class="footer-menu">
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Projects</a></li>
    </ul>

    <ul class="socials">
        <li><a href=""><svg class="icon icon-icon-facebook">
                    <use xlink:href="svg/symbol-defs.svg#icon-icon-facebook"></use>
                </svg></a></li>
        <li><a href=""><svg class="icon icon-icon-instagram">
                    <use xlink:href="svg/symbol-defs.svg#icon-icon-instagram"></use>
                </svg></a></li>
        <li><a href=""><svg class="icon icon-icon-twitter">
                    <use xlink:href="svg/symbol-defs.svg#icon-icon-twitter"></use>
                </svg></a></li>
        <li><a href=""><svg class="icon icon-icon-pinterest">
                    <use xlink:href="svg/symbol-defs.svg#icon-icon-pinterest"></use>
                </svg></a></li>
    </ul>
</footer>