<header>
    {{> nav }}
    <h1>We are creatives</h1>
    <picture class="media">
        <source media="(min-width: 47em)" srcset="images/desktop/image-header.jpg">
        <img src="images/mobile/image-header.jpg" alt="">
    </picture>
</header>