<nav>
    <svg class="icon icon-logo">
        <use xlink:href="svg/symbol-defs.svg#icon-logo"></use>
    </svg>
    <button class="hamburger toggle">
        <svg class="icon icon-icon-hamburger">
            <use xlink:href="svg/symbol-defs.svg#icon-icon-hamburger"></use>
        </svg>
    </button>
    <ul class="menu">
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="" data-style="pill">Contact</a></li>
    </ul>
</nav>